
.dashboard {
  padding: 20px;
}

.dashboard-title {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

.dashboard-container {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: stretch;
}

/* Left Column: Metrics Section */
.metrics-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.total-revenue-card {
  background-color: #f7f7f9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #ddb4f9;
}

.bottom-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.metric-card {
  flex: 1;
  background-color: #f7f7f9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #ddb4f9;
}

.metric-total {
  font-size: 40px;
}

.metric-active {
  font-size: 40px;
}

.metric-title {
  font-size: 15px;
}

.metric-users {
  font-size: 40px;
}

.reminder-card {
  flex: 1;
  background-color: #f7f7f9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #ddb4f9;
}

.reminder-list {
  text-align: left;
}

/* Chart Placeholders with Unique Styles */
.total-amc-chart {
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  border-radius: 4px;
  margin-top: 10px;
}

.active-amc-chart {
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  border-radius: 4px;
  margin-top: 10px;
}

.total-users-chart {
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  border-radius: 4px;
  margin-top: 10px;
}

.data-chart {
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  border-radius: 4px;
  margin-top: 10px;
}

/* Right Column: Data and Chart Sections */
.data-chart-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}

.data-overview, .chart-section {
  background-color: #f7f7f9;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #ddb4f9;
}

.data-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.data-list li {
  background-color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddb4f9;
  font-size: 16px;
  color: #333333;
}

.chart-section {
  background-color: #f7f7f9;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #ddb4f9;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

