.invoice-container1 {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-table th,
.invoice-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

.invoice-table th {
  background-color: #ae86ff;
  color: white;
}

.invoice-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.invoice-table tr:hover {
  background-color: #e8e8e8;
}

.invoice-button1 {
  padding: 8px 16px;
  background-color: #b591f8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.invoice-button1:hover {
  background-color: #fec95e;
}