.kanban-container {
  padding: 16px;
  background: linear-gradient(135deg, #ffd5b2, #c0cbff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kanban-board {
  display: flex;
  flex-wrap: wrap; /* Allow columns to wrap to the next row on smaller screens */
  gap: 16px;
  margin-top: 60px;
  justify-content: center; /* Center columns on smaller screens */
}

.kanban-column {
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  margin: 5px;
  font-size: 1.7em;
  max-height: auto;
  position: relative; /* Important for z-index to work */
}

.kanban-column h3 {
  padding: 2px 0;
  font-size: 1em;
  text-align: left; /* Removed the second text-align property */
  margin-bottom: 3vh;
 border-radius: 8px;
 padding: 15px;
  
  background-color: rgb(240, 240, 240); /* Added background color */
}


.kanban-card {
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.card-image img {
  width: 100%; /* Scale image to fit the card */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

.kanban-board {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
}

.kanban-card {
  background-color: #ffffff;
  padding: 5px;
  margin-top: -27px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
  /* Black border on left and right sides */
  border-left: 5px solid rgb(240, 240, 240);
  border-right: 5px solid rgb(240, 240, 240);
  border-top: 10px solid rgb(240, 240, 240);
  border-bottom: 20px solid rgb(240, 240, 240); /* Corrected this line */
  position:static ;
  
}


.card-image img {
  width: 100%;
  border-radius: 8px;
  z-index: 1;
}

.card-content {
  padding: 8px;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  z-index: 1;
}

.card-description {
  font-size: 0.9em;
  color: #666;
  
}

.card-footer {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.employee-avatars {
  display: flex;
  gap: 4px;
}

.employee-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.extra-employees {
  font-size: 0.8em;
  background-color: #ddd;
  color: #333;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
