.navbar {
    background-color: #e6d5ea; /* Dark background for the navbar */
    padding: 1rem;
  }
  
  .navbar-list {
    list-style: none;
    display: flex; /* Arrange items horizontally */
    justify-content: space-around; /* Space out the items evenly */
    margin: 0;
    padding: 0;
  }
  
  .navbar-list li {
    display: inline-block;
  }
  
  .navbar-list li a {
    color: rgb(107, 66, 127);
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* Button-like background */
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth background change on hover */
  }
  
  .navbar-list li a:hover {
    background-color: #555; /* Lighter background on hover */
  }
  