body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f7f8fc;
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-box {
  background: #fff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15); 
  text-align: center;
  width:500px;
  max-width: 500px;
  height: 450px;
  
}

.forgot-password-logo {
  width: 100px;
  margin-bottom: 1.5rem;
}

.forgot-password-box h2 {
  color: #5a4fe3;
  
  margin-bottom: 1rem;
}

.forgot-password-box p {
  color: #6b7280;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.forgot-password-form .input-group {
  width: 95%; 
  margin-bottom: 1.5rem;
}

.forgot-password-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.forgot-password-input:focus {
  outline: none;
  border-color: #9b6bfc;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}



.forgot-password-back-link {
  display: block;
  margin-top: 1.5rem;
  color: #9b6bfc;
  text-decoration: none;
  font-size: 1rem;
}

.forgot-password-back-link:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .forgot-password-box {
    padding: 2rem;
    max-width: 90%;
    min-height: 450px;
  }

  .forgot-password-box h2 {
    font-size: 1.8rem;
  }

  .forgot-password-box p {
    font-size: 0.95rem;
  }

  .forgot-password-input,
  .forgot-password-button {
    font-size: 1rem;
  }

  .forgot-password-logo {
    width: 80px;
  }
}
.forgot-password-button {
  position: relative;
  width: 95%; 
  padding: 10px; 
  background: #9b6bfc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem; 
  cursor: pointer;
  text-align: center;
  overflow: hidden; 

}

.forgot-password-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #ffffff;
  opacity: 25%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
  z-index: 0;
}

.forgot-password-button:hover::before {
  width: 800px; 
  height: 800px;
  transform: translate(-50%, -50%) scale(1);
}

.forgot-password-button span {
  position: relative;
  z-index: 1; 
  display: inline-block;
}
.forgot-password-button:hover {
  background: #9b6bfc;

} 
