body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f7f8fc;
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reset-password-container h2 {
  color: #5a4fe3;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.reset-password-container p {
  color: #6b7280;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.reset-password-container .message {
  color: red;
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}

button {
  background: #9b6bfc;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  max-width: 350px;
  position: relative;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #bd9dff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
  z-index: 0;
}

button:hover::before {
  width: 800px;
  height: 800px;
  transform: translate(-50%, -50%) scale(1);
}

button span {
  position: relative;
  z-index: 1;
}

button:hover {
  background: #9b6bfc;
}

@media (max-width: 768px) {
  .reset-password-container h2 {
    font-size: 1.8rem;
  }

  .reset-password-container p {
    font-size: 0.95rem;
  }

  button {
    font-size: 1rem;
  }
}
