
.verify-code-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f9f9f9; 
    margin: 0;
    box-sizing: border-box;
}


.verify-code-container {
    width: 500px; 
    max-width: 500px; 
    padding: 30px; 
    background: #fff; 
    border-radius: 12px; 
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15); 
    text-align: center; 
    height: 450px; 
}


.verify-code-container .icon img {
    width: 100px; 
    height: auto; 
    margin-bottom: 1.5rem;
}


.verify-code-heading {
    font-size: 24px; 
    color: #9b6bfc; 
    margin-bottom: 10px; 
    font-weight: bold; 
}


.verify-code-description {
    font-size: 14px; 
    color: #666; 
    margin-bottom: 20px; 
}


.code-inputs {
    display: flex; 
    justify-content:center; 
    gap: 23px;
    margin-bottom: 20px; 
}


.code-input {
    width: 50px; 
    height: 50px; 
    text-align: center; 
    font-size: 18px; 
    border: 1px solid #d1d1d1; 
    border-radius: 8px; 
    outline: none; 
    transition: 0.2s; 
    
}


.code-input:focus {
    border-color: #9b6bfc; 
    box-shadow: 0 0 4px rgba(122, 98, 216, 0.5); 
}


.confirm-button {
    width: 95%; 
    padding: 10px; 
    background: linear-gradient(to right, #9b6bfc, #9b6bfc); 
    color: #fff; 
    font-size: 16px; 
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    margin-bottom: 10px; 
}


.confirm-button:hover {
    opacity: 0.9; 
}


.resend-link {
    background: none; 
    border: none; 
    color: #9b6bfc;
    font-size: 14px; 
    text-decoration: underline; 
    cursor: pointer; 
}

