.company-container {
  margin-top: 20px;
    padding: 20px;
    
  }
  
  .company-name {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 250%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .com-details{
    margin-top: 60px;
    font-size: 130%;
    line-height: 1.4;
    font-family:'Times New Roman', Times, serif;  
  }

  .projects{
    margin-top: 60px;
  }
  
  ul {
    margin-top: 10px;
    list-style-type:circle;
    margin-left: 43%;
    max-width: 150px;
    
  }
  
  .contract-link {
    color: #bd88fd; /* A blue color for links */
    text-decoration: underline;
    cursor: pointer; /* Changes cursor to pointer to indicate clickability */
    transition: color 0.3s;
    
  }
  
  .contract-link:hover {
    color: #f5b85d; /* A darker blue for hover effect */
  }