.dashboard1 {
    display: flex;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .left-panel {
    flex: 1;
    background-color: #f9f9f9;
  }
  
  .right-panel {
    flex: 2;
    background-color: #fff;
  }
  