.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:15px 30px;
  background: linear-gradient(90deg, #cb9eff, #c194ff, #ac8ff7);
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 60px;
    margin-right: 20px;
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon {
    font-size: 18px;
    cursor: pointer;
    color: #fff;
  }
  
  .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .notification-icon:hover,
  .settings-icon:hover,
  .profile-icon:hover {
    opacity: 0.8;
  }
  