.navigation-bar {
    padding: 10px 0;
    border-top: -20px;
    display: flex;
    justify-content: center;
    margin-top: -125px;
  }
  
  .navigation-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 2cqmax;
  }
  
  .navigation-bar li {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  
  .navigation-bar li.active {
    background-color: #faa031;
    color: #fff;
  }
  