/* .navbar {
  background-color: #b491ed;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ff9800;
} */

/* .nexa-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:15px 30px;
  background: linear-gradient(90deg, #c99efa, #c195ff, #ac8ff7);
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: relative;
}

.logo {
  height: 60px;
  
  margin-right: 20px;
}

.nav-bar {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  color: #f3e1fc;
  padding: 4px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.nav-bar li:hover {
  color: #ffffff;
  
}

.nav-bar li.active {
  background-color: #d5b3fc; 
  color: #ffffff;*/
   .nexa-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 15px 30px;
  background: linear-gradient(90deg, #c99efa, #c195ff, #ac8ff7);
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: relative;
}

.logo {
  height: 60px;
  margin-left: 0; 
}

.nav-bar-container {
  display: flex;
  justify-content: center;
  flex-grow: 1; 
}

.nav-bar {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-bar li {
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  color: #f3e1fc;
  padding: 8px 20px; 
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.nav-bar li:hover {
  color: #ffffff;
}

.nav-bar li.active {
  background-color: #d5b3fc;
  color: #ffffff;
} 
